/*!
 * IE Dumb Down
*/
html,
body {
  font-size: 87.5%;
  line-height: 1.4em;
}
.page-header {
  background: url(../img/white-bg.png);
}
.navbar .nav .dropdown-toggle .caret {
  margin-top: .4em;
}
.twenty {
  width: 16%;
  float: left;
  margin-left: 4%;
}
